.st-emotion-cache-1r6slb0{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.e1f1d6gn0 {
    padding: 20px;
}

.st-emotion-cache-1rtpt1n{
    display: none;
}

.st-emotion-cache-z5fcl4{
    padding-top: 0rem !important;
}

.eczjsme4{
    padding-top: 1rem;
}

.st-emotion-cache-1kyxreq{
    margin-top: 25px !important;
}

.st-emotion-cache-1pd56a0{
    padding: 0 !important;
}
